{% extends "./plantilla.html" %}
{% block contenido %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h1>Editar Reserva</h1>
                    <form method="post" action="{% url 'editar_reserva' reserva.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="sel_cliente">Cliente:</label>
                            <select id="sel_cliente" name="sel_cliente" class="form-control" required>
                                {% for cliente in clientes %}
                                    <option value="{{ cliente.id }}" {% if cliente.id == reserva.cliente.id %}selected{% endif %}>
                                        {{ cliente.nombre }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group mt-3">
                            <label for="sel_espacio">Espacio:</label>
                            <select id="sel_espacio" name="sel_espacio" class="form-control" required>
                                {% for espacio in espacios %}
                                    <option value="{{ espacio.id }}" {% if espacio.id == reserva.espacio.id %}selected{% endif %}>
                                        {{ espacio.nombre }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group mt-3">
                            <label for="fecha_reserva">Fecha de Reserva:</label>
                            <input type="date" id="fecha_reserva" name="fecha_reserva" class="form-control" required value="{{ reserva.fecha_reserva }}">
                        </div>
                        <div class="form-group mt-3">
                            <label for="hora_inicio">Hora de Inicio:</label>
                            <input type="time" id="hora_inicio" name="hora_inicio" class="form-control" required value="{{ reserva.hora_inicio }}">
                        </div>
                        <div class="form-group mt-3">
                            <label for="hora_fin">Hora de Fin:</label>
                            <input type="time" id="hora_fin" name="hora_fin" class="form-control" required value="{{ reserva.hora_fin }}">
                        </div>
                        <button type="submit" class="btn btn-primary mt-4">Actualizar Reserva</button>
                        <a href="{% url 'lista_reserva' %}" class="btn btn-secondary mt-4">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}
